@charset "utf-8";
body {
    margin: 0;
}
#innerwrap {
    margin: 0 50px;
}
h2,
h3 {
    padding-bottom: 20px;
}
/*ヘッダー*/
#header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    padding: 20px 30px 20px 50px;
    justify-content: space-between;
}
#header h1 img {
    width: 300px;
}
#header h1 img:hover {
    filter: brightness(105%);
}
#nav {
    margin-left: auto;
    margin-top: 20px;
    padding-right: 40px;
}
#nav ul  {
    display: flex;
    padding-left: 0;
    
}
#nav ul li {
    list-style: none;
    padding-left: 20px;
}
.hamburger {
    width: 35px;
    height: 20px;
    position: relative;
    display: none;
  }
  
  .hamburger_bar {
    display: block;
    width: 100%;
    height: 2.5px;
    position: absolute;
    left: 0;
    background: #000;
  }
  
  .hamburger_bar:nth-child(1) {
    top: 1px;
  }
  
  .hamburger_bar:nth-child(2) {
    top: 58%;
    transform: translateY(-80%);
  }
  
  .hamburger_bar:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }
.close span{
    z-index: 100;
    left: 30%; 
    transition-duration: 300ms;    
}   
.close span:nth-of-type(1){
    transform: rotate(40deg);
    transform-origin: left;
}
.close span:nth-of-type(2){
    opacity: 0;
}
.close span:nth-of-type(3){
    transform: rotate(-40deg);
    transform-origin: left;
}
  .hamburgerModal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    color: white;
  }
  .hamburgerModal ul {
    margin: 0 20px;
  }
  .hamburgerModal ul li {
    list-style: none;
    line-height: 60px;
  }
  #hamburgerModalNav li:first-child {
    border-top: 1px solid darkgray;
  }
  #hamburgerModalNav {
    margin: 80px 80px 0 80px;
  }
  #hamburgerModalNav li:hover {
    filter: brightness(80%);
  }
  #hamburgerModalNav li {
    width: 100%;
    border-bottom: 1px solid darkgray;
    padding: 10px;
    line-height: 30px;
  }
  .modalNav {
    display: flex;
    justify-content: space-between;
  }
  .acordion {
    display: none;
  }
#close span {
    color: white;
}
#close {
    margin: 20px auto;
    width: fit-content;
}
/*main*/
#main {
    display: flex;
}
#separateOne {
    width: 70%;
    padding-top: 100px;
}
.introduction img {
    width: 100%;
}
.introduction p {
    padding: 50px 0;
    line-height: 30px;
}
.introduction p span {
    font-weight: bold;
    background: rgba(255, 255, 0, 0.441);
}
.pickUp h2 {
    width: 100%;
    text-align: center;
}
/*slick部分*/
.slideItems {
    padding-left: 0;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
}
.slideItems li {
    list-style: none;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}
.slideItems img {
    width: 100%;
    object-fit: cover;
}
.slideItems img:hover {
    filter: brightness(105%);
}
.slick-prev:before,   /*左右の矢印部分*/
.slick-next:before {
  color:gray;
}
/*ランキング部分*/
/*見出し装飾*/
main h2,
main h3 {
    width: 100%;
    text-align: center;
}
#top3 {              
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.49);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
#top4to10 {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 166, 0, 0.492);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
#top11to30 {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.506);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
#over31 {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.47);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
/*top3Section部分*/
.totalRanking img {
    width: 300px;
}
#top3Section {
    display: flex;
    border: 3px solid rgb(226, 226, 38);
    padding: 30px;
    margin-bottom: 20px;
}
#top3Section .title{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.623);
}
#top3Section dl {
    width: 100%;
    padding-left: 20px;
}
/*ランキング表*/
.rankingTable {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.586);
    margin-bottom: 20px;
}
.rankingTable thead {
    background: rgba(0, 128, 0, 0.451);
    color: white;
    height: 50px;
}
.ranking {
    width: 100px;
}
.scoreTitle {
    width: 200px;
}
.blogTitle {
    width: 500px;
}
.rankingTable td {
    text-align: center;
    height: 50px;
}
.rankingTable tbody td {
    border: 1px solid rgba(128, 128, 128, 0.586);
}
/*絞り込み検索部分*/
#search {
    background-color: rgba(128, 128, 128, 0.112);
    margin: 100px;
}
#search form {
    padding: 20px;
}
.searchCategory {
    font-weight: bold;
}
.searchDetail {
    margin: -25px 0 0 120px;
}
.searchButton {
    width: 220px;
    height: 40px;
    background: orange;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    border: 0px;
    display: block;
    margin: 0 auto;
}
.searchButton:hover {
    filter: brightness(110%);
}
/*addZone箇所*/
#addZone {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
.Ad {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.238);
}
.Ad:first-child {
    border-right: 0;
}
.Ad img{
    width: 100%;
}
.Ad img:hover {
    opacity: 0.8;
}
/*カテゴリー別ランキング*/
#categoryLink {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
#categoryLink p {
    display: flex;
    width: 30%;
    height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.586);
    line-height: 62px;
    border-radius: 4px;
    justify-content: space-around;
}
#categoryLink p:hover {
    background-color: rgba(128, 128, 128, 0.112);
    filter: brightness(120%);
}
/*カテゴリー別ランキングの項目別リンク*/
#categories {
    background-color: rgba(128, 128, 128, 0.112);
    padding: 20px;
    margin-bottom: 20px;
}
#categories dl dt {
    font-weight: bold;
    font-size: 18px;
}
#categories div {
    display: flex;
    flex-wrap: wrap;  
}
#categories dl dd {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1.5px solid black;
    overflow-wrap: break-word;
}
#categories div dd:last-child {
    border-right: 0;
}
#categories div dd:hover {
    opacity: 0.8;
}
.categoriesDiv {
    margin-bottom: 10px;
}
/*新着ブログ*/
#blog {
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.586);
    overflow-y: scroll;
}
/*SNSシェア*/
#snsShare p {
    text-align: center;
    padding: 20px 0;
}
#snsShare ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 10px;
}
#snsShare ul li {
    padding-left: 20px;
}
#snsShare ul li:first-child {
    padding-left: 0;
}
/*aside箇所*/
#separateTwo {
    width: 30%;
    padding-top: 100px;
    margin-left: 50px;
}
.bannerAd img{
    width: 100%;
    margin-bottom: 30px;
}
.bannerAd img:hover {
    opacity: 0.8;
}
/*絞り込み*/
#search2 {    
    background-color: rgba(128, 128, 128, 0.112);
    padding: 20px;
    margin-bottom: 30px;
}
.searchDetail2 {
    line-height: 30px;
}
/*asideCategory箇所*/
#asideCategory h2 {
    background: #eee;
    height: 50px;
    line-height: 50px;
}
#asideCategory ul {
    list-style: none;
    display: flex;
    margin: 20px;
    padding: 0;
    flex-wrap: wrap;
}
#asideCategory ul li {
    line-height: 20px;
    padding: 10px;
}
#asideCategory ul li:hover {
    opacity: 0.7;
    background: rgba(0, 208, 255, 0.14);
}
/*フッター*/
#footer {
    display: flex;
    background: #88b500;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 30px;
}
#footer h4 {
    font-size: 14px;
    border-bottom: 1px dotted white;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.linkCollection ul li {
    line-height: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.359);
    list-style: none;
}
.linkCollection ul li:last-child {
    border-bottom: 0;
}
.linkCollection ul li:hover {
    filter: brightness(90%);
}
.linkCollection {
    margin-right: 30px;
    width: 20%;
}
.linkCollection span {
    margin-right: 10px;
}
footer {
    width: fit-content;
    margin: 0 auto;
    color: black;
    padding: 20px 0 40px 0;
}
#lastIntroduction {
    width: 30%;
}
#lastIntroduction h1 {
    padding-bottom: 10px;
}
#lastIntroduction p {
    font-weight: lighter;
}


@media screen and (max-width: 740px) {

/*ヘッダー*/
#separateOne{
    padding-top: 70px;
}
#header h1 img {
    width: 250px;
}
#nav {
    display: none;
}
.hamburger {
    display: block;
    width: 30px;
    margin: 12px 0;
}

/*main*/
#innerwrap {
    margin: 0 20px;
}
#main {
    display: block;
}
#top3Section {
    display: block;
}
#separateOne {
    width:100%
}
#separateTwo {
    width: 100%;
    padding: 0;
    margin: 0;
}
#search {
    margin: 30px 0;
}
.searchButton {
    width: 100%;
    margin: 0;
}
#categoryLink {
    display: block;
}
#categoryLink p {
    width: 100%;
    margin: 10px 0;
    padding: 0;
}

#search2 {
    display: none;
}
#asideCategory ul li {
    height: 35px;
}
/*フッター*/
#footer {
    flex-wrap: wrap;
    padding: 20px;
}
.linkCollection {
    width: 100%;
    padding: 20px 0;
}
.linkCollection ul {
    width: auto;
}
#lastIntroduction {
    width: 100%;
    margin-bottom: 20px;
}

}