@charset "utf-8";
body {
    margin: 0;
}
#innerwrap {
    margin: 0 50px;
}
/*ヘッダー*/
#header {
    display: flex;
    position: fixed;
    width: 95.4%;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    padding: 0 50px;
}
#header h1 img {
    width: 300px;
}
#header h1 img:hover {
    filter: brightness(105%);
}
#nav {
    margin-left: auto;
    margin-top: 20px;
    padding-right: 40px;
}
#nav ul  {
    display: flex;
    padding-left: 0;
    
}
#nav ul li {
    list-style: none;
    padding-left: 20px;
}
/*main*/
#main {
    display: flex;
}
#separateOne {
    width: 70%;
    padding-top: 100px;
}
.introduction img {
    width: 100%;
}
.introduction p span {
    font-weight: bold;
    background: rgba(255, 255, 0, 0.441);
}
.pickUp h2 {
    width: 100%;
    text-align: center;
}
/*slick部分*/
.slideItems {
    padding-left: 0;
    width: 100%;
    display: flex;
}
.slideItems li {
    list-style: none;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}
.slideItems img {
    width: 100%;
    object-fit: cover;
}
.slideItems img:hover {
    filter: brightness(105%);
}
.slick-prev:before,   /*左右の矢印部分*/
.slick-next:before {
  color:gray;
}
/*ランキング部分*/
/*見出し装飾*/
main h2,
main h3 {
    width: 100%;
    text-align: center;
}
#top3 {              
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.49);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
#top4to10 {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 166, 0, 0.492);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
#top11to30 {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.506);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
#over31 {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.47);
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0 auto;
}
/*top3Section部分*/
.totalRanking img {
    width: 300px;
}
#top3Section {
    display: flex;
    border: 3px solid rgb(226, 226, 38);
    padding: 30px;
}
#top3Section .title{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.623);
}
#top3Section dl {
    width: 400px;
    padding-left: 20px;
}
/*ランキング表*/
.rankingTable {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.586);
}
.rankingTable thead {
    background: rgba(0, 128, 0, 0.451);
    color: white;
    height: 50px;
}
.ranking {
    width: 100px;
}
.scoreTitle {
    width: 200px;
}
.blogTitle {
    width: 500px;
}
.rankingTable td {
    text-align: center;
    height: 50px;
}
.rankingTable tbody td {
    border: 1px solid rgba(128, 128, 128, 0.586);
}
/*絞り込み検索部分*/
#search {
    background-color: rgba(128, 128, 128, 0.112);
    margin: 100px;
}
#search form {
    padding: 20px;
}
.searchCategory {
    font-weight: bold;
}
.searchDetail {
    margin: -39px 0 0 110px;
}
.searchButton {
    width: 220px;
    height: 40px;
    background: orange;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    border: 0px;
    display: block;
    margin: 0 auto;
}
.searchButton:hover {
    filter: brightness(110%);
}
/*addZone箇所*/
#addZone {
    display: flex;
    width: 100%;
}
.Ad {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.238);
}
.Ad:first-child {
    border-right: 0;
}
.Ad img{
    width: 100%;
}
.Ad img:hover {
    opacity: 0.8;
}
/*カテゴリー別ランキング*/
#categoryLink {
    display: flex;
}
#categoryLink p {
    text-align: center;
    width: 250px;
    height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.586);
    line-height: 62px;
    margin-left: 20px;
    border-radius: 4px;
}
#categoryLink p:hover {
    background-color: rgba(128, 128, 128, 0.112);
    filter: brightness(120%);
}
/*カテゴリー別ランキングの項目別リンク*/
#categories {
    background-color: rgba(128, 128, 128, 0.112);
    padding: 20px;
}
#categories dl dt {
    font-weight: bold;
    font-size: 18px;
}
#categories div {
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;  
}
#categories dl dd {
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1.5px solid black;
    overflow-wrap: break-word;
}
#categories div dd:last-child {
    border-right: 0;
}
#categories div dd:hover {
    opacity: 0.8;
}
/*新着ブログ*/
#blog {
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.586);
    overflow-y: scroll;
}
/*SNSシェア*/
#snsShare p {
    text-align: center;
    padding-top: 20px;
}
#snsShare ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
#snsShare ul li {
    padding-left: 20px;
}
#snsShare ul li:first-child {
    padding-left: 0;
}
/*aside箇所*/
#separateTwo {
    width: 30%;
    padding-top: 100px;
    margin-left: 50px;
}
.bannerAd img{
    width: 100%;
    margin-bottom: 30px;
}
.bannerAd img:hover {
    opacity: 0.8;
}
/*絞り込み*/
#search2 {    
    background-color: rgba(128, 128, 128, 0.112);
    padding: 20px;
    margin-bottom: 30px;
}
.searchDetail2 {
    margin: 0;
} 
/*asideCategory箇所*/
#asideCategory h2 {
    background: #eee;
    height: 50px;
    line-height: 50px;
}
#asideCategory ul {
    list-style: none;
    display: flex;
    margin: 20px;
    padding: 0;
    flex-wrap: wrap;
}
#asideCategory ul li {
    height: 20px;
    line-height: 20px;
    padding: 10px;
}
#asideCategory ul li:hover {
    opacity: 0.7;
    background: rgba(0, 208, 255, 0.14);
}
/*フッター*/
#footer {
    display: flex;
    background: #88b500;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 30px;
}
#footer h4 {
    font-size: 14px;
    border-bottom: 1px dotted white;
    margin: 0;
}
.linkCollection ul {
    width: 250px;
    padding-left: 12px;
}
.linkCollection ul li {
    line-height: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.359);
}
.linkCollection ul li:last-child {
    border-bottom: 0;
}
.linkCollection ul li:hover {
    filter: brightness(90%);
}
.linkCollection {
    margin-right: 30px;
    width: 20%;
}
footer {
    width: fit-content;
    margin: 0 auto;
    color: black;
}
#lastIntroduction {
    width: 20%;
}
#lastIntroduction p {
    font-weight: lighter;
}


@media screen and (max-width: 1000px) {

/*ヘッダー*/

/*main*/
#main {
    display: block;
}
#separateOne {
    width:100%
}
#separateTwo {
    width: 100%;
    padding: 0;
    margin: 0;
}
#search2,
.bannerAd {
    width: 70%;
    margin: 40px auto;
}
/*フッター*/
#footer {
    flex-wrap: wrap;
}
.linkCollection {
    width: 45%;
    margin: 20px;
}
.linkCollection ul {
    width: auto;
}
#lastIntroduction {
    width: 50%;
}

}